
body {
    background-color: blue;
}

div#sandbox {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    font: "goudy-bookletter-1911-1" "goudy-bookletter-1911-2" "Bas-kerville" "georgia" serif;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(21, 11, 11, 0.2);
    border-radius: 30px;
    box-shadow: 0px 0px 20px white;
    background: linear-gradient(#444444 , #999999);
    transform: rotate(7.5deg);
    overflow: hidden;
    margin: 40px 0px 0px 30px;
    padding: 20px;
    width: 440px;
    z-index: 2;
}

h1{
    margin: 0px 0px 20px 0px;
    font-size: 56px;
    word-spacing: 2px;
}

abbr{
  cursor: help;
  font-size: 130%;
  color: #ff2166;
  text-shadow: 0 0 1px #333;
  text-decoration: underline;

}

p{
  font-size: 30px;
  line-height: 50px;
  margin: inherit;
  width: inherit;
}
